.card__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1360px) {

    .card__list {
        margin: 0 auto;
        max-width: 1120px;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }

}

@media (max-width: 1010px) {

    .card__list {
        margin: 0 auto;
        max-width: 768px;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 650px) {

    .card__list {
        margin: 0 auto;
        max-width: 352px;
        grid-template-columns: repeat(1, 1fr);
    }

}