.top {
    padding-top: 65px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content {
    max-width: 640px;
}

@media (max-width: 900px) {

    .top{
        padding-top: 32px;
    }

    .section__title {
        font-size: 24px;
        line-height: 133.333%;
    }

    .content {
        max-width: 385px;
    }

    .img {
        max-width: 230px;
        max-height: 200px;
    }

}

@media (max-width: 550px) {

    .top {
        padding-top: 26px;
    }

    .section__title {
        font-size: 20px;
        line-height: 140%;
    }

    .img {
        display: none;
    }

}